button
{
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

button:hover
{
    transform: translateY(-1px);
}

.clock
{
    text-align: center;
    margin: 1em;
    font-size: 1.2em;
}

section.powerButton
{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    width: fit-content;
}

section.powerButton button
{
    width: 7em;
}

div.container
{
    text-align: center;
    border: 1px solid black;
    width: 20em;
}